@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #e2e2e2;
  text-align: center;
  text-align: left;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
}

a {
  color: #0074d9;
}

li a {
  text-decoration: none;
  padding: .5em;
}

li a:hover {
  background-color: #0074d9;
  color: #fff;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: black;
}

.btn {
  background-color: grey;
  color: white;
}

.section {
  overflow: hidden;

  background-color: #e2e2e2;
}

.photo1 {
  float: left;
  width: 50%;
}

.info1 {
  float: right;
  width: 50%;
}

.photo2 {
  float: right;
  width: 50%;
}

.info2 {
  float: left;
  width: 50%;
}
